{% extends "_layout.twig" %}
{% block content %}
    <h1 class="cover-heading">Demo application</h1>
    <p class="lead">
        An example of a small demo application, here you can see how some functions are implemented. such as dynamic
        routing, templates rendering, models and etc.
    </p>
{% endblock %}
