{% extends "_layout.twig" %}
{% block content %}
    <h1 class="cover-heading">Page1 action of Pages class</h1>
    <p class="lead">
        The method for displaying this page called statically.
    </p>
{% endblock %}
