{% extends "_layout.twig" %}
{% block content %}
    <h1 class="cover-heading">Index action of Pages class</h1>
    <p class="lead">
        The method for displaying this page is extracted dynamically from the URL.
    </p>
{% endblock %}
