<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">DrMVC</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/dynamic/index">D: Index</a>
            <a class="nav-link" href="/dynamic/other">D: Other</a>
            <a class="nav-link" href="/static/">S: Page 1</a>
            <a class="nav-link" href="/static/other">S: Page 2</a>
            <a class="nav-link" href="/error">404</a>
        </nav>
    </div>
</header>
